{% extends "base.html" %}

{% block title %} Nunes Sport {% endblock %}

{% block content %}
    <h1> Nunes Sport</h1>
    <h2> Produtos </h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Código do Produto</th>
            <th scope="col">Descrição do Produto</th>
            <th scope="col">Preço do Produto</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
          {% for produtos in dados_produtos%}
          <tr>
            <td> {{produtos.nome_produto}}</td>
            <td> {{produtos.codigo_produto}}</td>
            <td> {{produtos.descricao_produto}}</td>
            <td class="preco"> {{produtos.preco_produto}}</td>
            <td> <a href="#" class="btn btn-primary btn-sm"> Editar </a> </td>
            <td> <a href="#" class="btn btn-danger btn-sm"> Excluir </a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
       <!-- Botão para adicionar produto -->
    <div class="mt-5">
        <a href="{% url 'criar_produto' %}" class="btn btn-primary">Adicionar Produto</a>
      </div>

      <!-- script js que formata o . decimal para formato brasileiro , -->
      <script>
        // Obtém todas as células da coluna de preço
        var precoCells = document.querySelectorAll('.preco');
        // Itera sobre as células e substitui o ponto por vírgula
        precoCells.forEach(function(cell) {
            // Obtém o conteúdo da célula (valor numérico)
            var valorNumerico = parseFloat(cell.textContent.trim());
    
            // Verifica se é um número válido antes de formatar
            if (!isNaN(valorNumerico)) {
                // Formata o número com vírgula
                cell.textContent = valorNumerico.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            }
        });
    </script>
{% endblock %}
